{% extends "../layouts/base.html.twig" %}

{% block title %}
<title>Organis | Panel</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/styles/dashboard.css">
{% endblock %}

{% block main %}
<main>
    {% if user %}
    <section class="member-section">
        <div class="add-member">
            <h2>Membres:</h2>
            <a href="/add/user" class="btn bgm">Ajouter</a>
        </div>
        <ul class="user-list">
            {% if users %}
            {% for member in users %}
            <li>
                <p>{{ member.lastName }} {{member.firstName}} </p>
                <div class="user-btns">
                    <a href="#{{ member.id }}" class="btn bgm">Taches</a>
                    <a href="/edit/member/{{ member.id }}" class="btn bgs">Modifier</a>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <p>Aucun membres</p>
            {% endif %}
        </ul>
    </section>

    <section>
        <div class="add-material">
            <h2>Matériel:</h2>
            <a href="/add/material" class="btn bgm">Ajouter</a>
        </div>
        <ul class="material-list">
            {% if materials %}
            {% for material in materials %}
            <li>
                <p>{{ material.description }} ({{material.mac}})</p>
                <form action="/assign/{{material.id}}" method="post" class="assign">
                    <select name="materialUser" id="materialUser">

                        <option value="none">Personne</option>
                        {% if users %}
                        {% for member in users %}

                        {% if material.userId == member.id %}
                        <option value="{{member.id}}" selected>{{ member.lastName }} {{ member.firstName }}</option>
                        {% else %}
                        <option value="{{member.id}}">{{ member.lastName }} {{ member.firstName }}</option>
                        {% endif %}

                        {% endfor %}
                        {% endif %}

                    </select>
                    <button type="submit" class="btn bgm">Réassigner</button>
                </form>
                <div class="material-btns">
                    <a href="/edit/material/{{ material.id }}" class="btn bgs">Modifier</a>
                    <a href="/delete/material/{{ material.id }}" class="btn bgr">Supprimer</a>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <p>Aucun materiel</p>
            {% endif %}

        </ul>
    </section>

    <section>
        <h2>Planning:</h2>
        <div id="calendar"></div>
    </section>

    {% endif %}
</main>
{% endblock %}