{% extends "../layouts/base.html.twig" %}

{% block title %}
<title>Organis | Panel</title>
{% endblock %}

{% block desc %}
<meta name="description" content="La solution, pour votre entreprise.">
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/styles/dashboard.css">
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
{% endblock %}



{% block main %}
<main>
    {% if user %}
    <section class="member-section">
        <div class="add-member">
            <h2>Membres:</h2>
            <a href="/add/user" class="btn bgm">Ajouter</a>
        </div>
        <ul class="user-list">
            {% if users %}
            {% for member in users %}
            <li>
                <p>{{ member.lastName }} {{member.firstName}} </p>
                <div class="user-btns">
                    <a href="/add/event/{{ member.id }}" class="btn bgm">Taches</a>
                    <a href="/edit/member/{{ member.id }}" class="btn bgs">Modifier</a>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <p>Aucun membres</p>
            {% endif %}
        </ul>
    </section>

    <section>
        <div class="add-material">
            <h2>Matériel:</h2>
            <a href="/add/material" class="btn bgm">Ajouter</a>
        </div>
        <ul class="material-list">
            {% if materials %}
            {% for material in materials %}
            <li>
                <p>{{ material.description }} ({{material.mac}})</p>
                <form action="/assign/{{material.id}}" method="post" class="assign">
                    <select name="materialUser" id="materialUser">

                        <option value="none">Personne</option>
                        {% if users %}
                        {% for member in users %}

                        {% if material.userId == member.id %}
                        <option value="{{member.id}}" selected>{{ member.lastName }} {{ member.firstName }}</option>
                        {% else %}
                        <option value="{{member.id}}">{{ member.lastName }} {{ member.firstName }}</option>
                        {% endif %}

                        {% endfor %}
                        {% endif %}

                    </select>
                    <button type="submit" class="btn bgm">Réassigner</button>
                </form>
                <div class="material-btns">
                    <a href="/edit/material/{{ material.id }}" class="btn bgs">Modifier</a>
                    <a href="/delete/material/{{ material.id }}" class="btn bgr">Supprimer</a>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <p>Aucun materiel</p>
            {% endif %}

        </ul>
    </section>

    <section>
        <h2>Planning:</h2>
        <div id="calendar"></div>
    </section>

    <section id="mod" class="mod">
        <article>
            <h3>Modification de l'événement:</h3>
            <form action="/edit/event/" method="post" id="eventEdit">
                <div class="input-container">
                    <input type="text" name="title" id="title" placeholder="" value="{{edit.firstName}}">
                    <label for="title">Titre:</label>
                </div>
                <div class="task-date">
                    <h2>Début:</h2>
                    <div class="input-container">
                        <input type="date" name="start" id="start" placeholder="">
                        <label for="start">Date:</label>
                    </div>
                    <div class="input-container">
                        <input type="time" name="startTime" id="startTime" placeholder="">
                        <label for="startTime">Heure:</label>
                    </div>
                </div>

                <select name="userId" id="user">
                    {% if users %}
                    {% for member in users %}
                    <option value="{{member.id}}" data-userId="{{member.id}}">{{ member.lastName }} {{ member.firstName
                        }}</option>
                    {% endfor %}
                    {% endif %}
                </select>

                <div class="ended">
                    <label for="finish">Tache accomplie:</label>
                    <input type="checkbox" name="finish" id="finish">
                </div>

                <div class="btns">
                    <button type="button" class="btn bgs" id="back">Retours</button>
                    <button type="submit" class="btn bgm">Modifier</button>
                    <a href="/" class="btn bgr" id="delete">Supprimer</a>
                </div>
            </form>
        </article>
    </section>




    {% endif %}
    <script>
        const mod = document.getElementById("mod");
        const modForm = document.getElementById("eventEdit");
        const back = document.getElementById("back");
        const deleteBtn = document.getElementById("delete");
        back.addEventListener("click", toggleModale);

        const titleInput = document.getElementById("title");
        const startInput = document.getElementById("start");
        const startTimeInput = document.getElementById("startTime");
        const finishInput = document.getElementById("finish");
        const userInput = document.getElementById("user");

        const calendarDiv = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarDiv, {
            locale: 'fr',
            initialView: 'dayGridMonth',
            events: '/events',
            editable: true,
            eventClick: handleClick,
            eventDrop: handleDrop
        });
        calendar.render();

        function handleClick(info) {
            const eventId = info.event.id;
            const title = info.event.title;
            const start = info.event.start;
            const startDate = start.toISOString().split('T')[0];
            const eventUserId = userInput.value;
            const enterpriseId = info.event.extendedProps.entrepriseId;

            titleInput.value = title;
            startInput.value = startDate;
            startTimeInput.value = `${start.getHours().toString().padStart(2, '0')}T${start.getMinutes().toString().padStart(2, '0')}`;
            finishInput.checked = info.event.extendedProps.finish;
            modForm.setAttribute("action", "/edit/event/" + eventId);
            document.querySelector(`[data-userId='${info.event.extendedProps.userId}']`).setAttribute("selected", true);
            deleteBtn.setAttribute("href", "/delete/event/" + eventId);

            toggleModale();
        }

        async function handleDrop(info) {
            const eventId = info.event.id;

            const startDateTime = info.event.start;
            const start = startDateTime.toISOString().split('T')[0];
            const startTime = startDateTime.toISOString().split('T')[1].slice(0, 5);


            const eventData = { start: start, startTime: startTime };

            // Envoi de la requête
            await fetch(`/edit/event/${eventId}`, {
                method: 'POST',
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(eventData)
            });
        }

        function toggleModale() {
            mod.classList.toggle("active");
        }
    </script>
</main>
{% endblock %}